*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}
body {
  background-color: rgba(83, 75, 98, 1);
  /* background: rgb(27, 23, 37);
  background: linear-gradient(
    0deg,
    rgba(27, 23, 37, 1) 0%,
    rgba(83, 75, 98, 1) 86%
  ); */
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 0;
  border-bottom: 1px solid #d1c7c7;
  padding-bottom: 2rem;
}
.header-top h1 {
  justify-self: start;
  color: #d0bcd5;
}

ul.menu {
  justify-self: end;
  margin-top: 1rem;
  display: flex;
  font-size: 20px;
  list-style: none; /* ลบbullet */
}
ul.menu li {
  margin-right: 2rem;
}
ul.menu li img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
ul.menu a {
  color: #d0bcd5;
  text-decoration: none;
  transition: 0.3s;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}
ul.menu a:hover {
  color: #dddddf;
  border-bottom: 2px solid #dddddf;
}

.section-grid {
  border-bottom: 1px solid #d1c7c7;
  padding-bottom: 2rem;
  margin: 3rem 0 3rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.section-image img {
  box-shadow: black;
  box-shadow: 5px 5px 5px rgb(54, 54, 54);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.section-item {
  font-size: 16px;
}
.section-item a {
  text-decoration: none;
}
.section-item:hover {
  transform: translateY(-5px) translateZ(0);
}

.section-info {
  color: #d0bcd5;
  margin-top: 1rem;
  margin: 1rem;
}
.section-info h5 {
  font-size: 18px;
}

footer {
  margin-top: 1rem;
}
.footer-grid {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.footer-item {
  color: #d0bcd5;
}
.footer-item p {
  display: flex;
  margin-top: 1rem;
  font-size: 16px;
}
ul.foot {
  margin-top: 1rem;
  display: flex;
  list-style: none; /* ลบbullet */
}
ul.foot li {
  margin-right: 1rem;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
/*Início das configurações da header*/
header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: sans-serif;
  background-color: #f1c40f;
}
.brand {
  width: auto;
  height: 100%;
  float: left;
  margin: 0 0 0 5%;
}
/*Início das configurações da Navigation*/
.menu {
  width: 60%;
  height: 100%;
  float: right;
}
.menu ul {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.menu ul a {
  width: 20%;
  height: inherit;
  color: #222;
  display: inline-block;
}
.menu ul a:hover {
  background-color: #222;
  color: #fff;
}
#menuToggle {
  display: none;
}
.menu-icon {
  display: none;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form label {
  color: rgb(54, 54, 54);
  font-size: 18px;
}
.form h1 {
  background-color: rgba(83, 75, 98, 1);
  color: #d1c7c7;
  font-size: 30px;
  border: gray solid 2px;
  margin-bottom: 1rem;
}
/* .form .register-form {
  display: none;
} */
/* .container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
} */
/* .container:before, .container:after {
  content: "";
  display: block;
  clear: both;
} */
/* .container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
} */